:root {

    //sizes
    --xs: 11px;
    --s: 12px;
    --m: 14px;
    --l: 18px;
    --xl: 20px;

    // colors
    --brand-red: #D90E0E;
    --price-red: #E01A1A;
    --bg-grey: #EEEEEE;
    --border-grey: #D8D8D8;
    --menu-black: #333333;
    --title-grey: #4D4D4D;
}